{% extends 'base.html.twig' %}

{% block title %}Nouvelle liste de course{% endblock %}

{% block body %}
    <h1>Ajouter une liste de course</h1>

    {{ include('course/_form.html.twig') }}

    <a href="{{ path('app_course_index') }}">RETOUR</a>
{% endblock %}
