{{ form_start(ingredientNewform) }}
<div class="d-flex justify-content-center align-items-center">
    {{ form_widget(ingredientNewform) }}
    {# <div class="mt-4 pt-2 d-flex justify-content-center"> #}
        {# <button class="btn bg-dark lightColor" style="height: 40px;">{{ button_label|default('Save') }}</button> #}
        <button class="btn">
            <i class="bi bi-plus-circle darkColor" style="font-size: 50px"></i>
        </button>
    </div>
{{ form_end(ingredientNewform) }}
