{% extends 'base.html.twig' %}

{% block title %}New Recette{% endblock %}

{% block body %}
    <h1>Create new Recette</h1>

    {{ include('recette/_form.html.twig', {'button_label': 'Ajouter la recette'}) }}
    {{ include('source/_form.html.twig', {'button_label': 'Ajouter une source'}) }}
    {# {{ include('ingredient_per_recette/_form.html.twig') }} #}

    <div class="text-end">
        <button class="btn btn-lg btn-primary"><a href="{{ path('recettes') }}">RETOUR</a></button>
    </div>
{% endblock %}
