/**********************************/
/*********General*********/
/**********************************/
@font-face {
	font-family: "Prata";
	src: url("../font/fonts/prata/Prata-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Montserrat";
	src: url("../font/fonts/montserrat/static/Montserrat-Regular.ttf") format("truetype");
	font-display: swap;
}

$darkColor: #18558f;
$lightColor: #eefbfb;
$color3: #ffb976;

$headerHeight: 75px;
$navHeight: 70px;
$carouselPosition: 145px;

.darkColor {
	color: $darkColor !important;
}

.lightColor {
	color: $lightColor !important;
}

.font3 {
	color: $color3 !important;
}

.bg-dark {
	background: $darkColor !important;
}

.bg-light {
	background: $lightColor !important;
}

.bg-3 {
	background: #ffb976 !important;
}

* {
	color: $darkColor;
	font-family: "Montserrat", sans-serif !important;
}

p {
	font-size: 1em;
	padding: 0px 20px;
	text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Prata", serif !important;
}

h1,
h2 {
	font-weight: bold;
	text-align: center;
	padding: 5px 0px;
	font-size: 2em;
}
h3 {
	font-weight: bold;
	font-size: 1.8em;
}
h4 {
	font-weight: bold;
	font-size: 1.5em;
}
h5 {
	font-weight: bold;
	font-size: 1.3em;
}

a {
	text-decoration: none;
}
.font1-5 {
	font-size: 1.5em;
}

$form-select-color: $color3 !important;

.btn-primary {
	background-color: $darkColor;
	color: $lightColor !important;
	a {
		color: $lightColor !important;
	}
}

// nav {
// 	margin-bottom: 500px !important;
// }

.mainSection {
	margin-top: 80px !important;
}

/************************************/
/* CARDS */
/**********************************/

.card {
	border: none !important;
	box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
	background-color: $lightColor !important;
	border-radius: 1rem !important;
}
.card-header {
	border-top-left-radius: 1rem !important;
	border-top-right-radius: 1rem !important;
}

.card .card {
	border: 1px solid $darkColor !important;
	box-shadow: none !important;
}

/*********************
*************
*******************/
.hide {
	display: none;
}

/********** **********/
/* FOOTER */
/*************************/
footer {
	// height: 40px !important;
	p {
		font-size: 10px;
	}
}

/********** **********/
/* NAV MENU */
/*************************/

.buttonHovered::before {
	transform: scaleX(0) !important;
	transform-origin: bottom right !important;
}

.buttonHovered:hover::before {
	transform: scaleX(1) !important;
	transform-origin: bottom left !important;
}

.buttonHovered::before {
	content: " " !important;
	display: block !important;
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	inset: 0 0 0 0 !important;
	border: 2px dotted $darkColor !important;
	margin: 0px -5px 0px -5px !important;
	border-radius: 15px !important;
	z-index: -1 !important;
	transition: transform 0.3s ease !important;
}

.buttonHovered {
	position: relative !important;
	z-index: 0 !important;
	display: inline-block !important;
}

// .titleScrolled::before {
// 	content: " " !important;
// 	border: 2px dotted $lightColor !important;
// }

/**************
******** CHEVRON UP *******
*******************/

.bi-chevron-up {
	position: fixed;
	top: 90%;
	right: 5%;
	border: 3px solid $darkColor !important;
}

/************************************/
/* Responsive */
/**********************************/

// @media screen and (min-width: 650px) and (max-width: 1000px) {
// }

@media screen and (max-width: 650px) {
	// footer {
	// 	/* font-size: 10px !important; */
	// 	// height: 40px !important;
	// 	// margin-top: 30px;
	// 	// padding-top: 20px;
	// }
	.bi-chevron-up {
		top: 85%;
	}
}
