{% extends 'base.html.twig' %}

{% block title %}Edit CourseRecette{% endblock %}

{% block body %}
    <h1>Editer</h1>

    {{ include('course_recette/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_course_index') }}">RETOUR</a>

    {# {{ include('course_recette/_delete_form.html.twig') }} #}
{% endblock %}
