<footer class="mt-2 bg-light container fixed-bottom">
    <div class="text-center d-flex justify-content-center">
        <p>
        Site designed by
        <a href="https://www.martin-julien-dev.fr/" target="_blank">
            Julien MARTIN</a
        >
        , copyright 2022, tous droits réservés.
        <a href="mailto:ju.martin@outlook.com" class="mx-5">Contact</a>
        {# <a href="javascript:;" [routerLink]="['/cgu']" class="mx-5">CGU</a> #}
        <span> version Beta 0.1</span>
        </p>
    </div>
</footer>